SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_ANON_KEY=
GEMINI_API_KEY=
NOMBA_BASE_URL=https://api.nomba.com
NOMBA_ACCOUNT_ID=
NOMBA_SUB_ACCOUNT_ID=
NOMBA_CLIENT_ID=
NOMBA_CLIENT_SECRET=
NOMBA_WEBHOOK_SECRET=
BACKEND_URL=https://displease-revival-stress.ngrok-free.dev
FRONTEND_URL=http://localhost:3000
PORT=3001
